.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 18px 80px;
 border-bottom: 1px solid #e5e7eb;
}


.logo {
 display: flex;
 align-items: center;
 gap: 10px;
 font-weight: 700;
}


nav a {
 margin: 0 14px;
 text-decoration: none;
 color: #334155;
 font-weight: 500;
}


nav a.active {
 border-bottom: 2px solid #22c55e;
}
